<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Esprit Zen, entreprise de bien-être. Rejoignez-nous pour vos séances de yoga ou pour une détente au spa et au jacuzzi">
    <meta name="keywords" content="zen, yoga, développement personnel, jacuzzi, spa, détente">
    <meta property="og:image" content="https://static.vecteezy.com/ti/vecteur-libre/t1/8652535-yoga-lotus-pose-icon-vector-logo-concept-meditation-yoga-minimal-symbol-health-spa-meditation-harmony-zen-logotype-creative-graphic-sign-design-template-vectoriel.jpg">
    <title>Esprit Zen</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Icone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- font famuily -->
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> <!-- regarder a quoi ca sert pour la présentation -->
</head>
<body>