<main class="accueil">

       <!-- carousel -->
    <div class="mCarousel">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/img/1.jpg" class="images d-block w-100" alt="une image de la salle de jacuzzi ">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/2.jpg" class="images d-block w-100" alt="femme qui fait du yoga avec un couché de soleil en arrière plan">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/3.jpg" class="images d-block w-100" alt="photo avec des matériaux de massage, service, bougie, pierre ...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
      <!-- carousel -->

        <div class="join">
            <div id="map">
                <!-- https://www.codeur.com/tuto/html/ajouter-carte-google-maps-site/ -->
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2669.4083008478165!2d0.20633888750211257!3d48.00582109704605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e28929620f28bb%3A0xd2f68ba1c04e2bb5!2s13%20Rue%20du%20N%2C%2072100%20Le%20Mans!5e0!3m2!1sfr!2sfr!4v1716193263461!5m2!1sfr!2sfr"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <section class="joinSection">
                <h1>Pourquoi nous rejoindre ?</h1>
                <p>Rejoindre Esprit Zen, c'est embrasser un mode de vie axé sur le bien-être et l'harmonie intérieure. Notre entreprise s'engage à offrir à ses membres un espace où ils peuvent trouver refuge du stress quotidien, et où ils sont encouragés à cultiver leur santé physique, mentale et émotionnelle. Avec une équipe dévouée d'instructeurs qualifiés, des séances de yoga apaisantes, des traitements de spa revitalisants et un environnement accueillant, Esprit Zen est bien plus qu'un lieu de pratique du yoga et du bien-être ; c'est une communauté où chacun est invité à se connecter avec son moi intérieur, à trouver la paix intérieure et à vivre pleinement dans le moment présent. Rejoignez-nous pour découvrir votre chemin vers un équilibre durable et un bien-être total.</p>
            </section>
        </div>

        <section id="espritZen" class="espritZen">
            <h1>Esprit Zen</h1>
            <p>Esprit Zen, c'est bien plus qu'une simple entreprise ; c'est un havre de paix et de régénération dans un monde souvent agité. Au cœur de notre vision se trouve une profonde conviction en l'importance de la santé mentale et du bien-être. Nous croyons fermement que prendre soin de notre esprit est aussi essentiel que prendre soin de notre corps. C'est pourquoi nous avons créé Esprit Zen avec une mission claire : offrir à chacun un espace où il peut trouver refuge, réconfort et inspiration pour cultiver une vie pleine de sens et de joie. Nous avons développé une gamme complète de services et de ressources conçus pour soutenir et inspirer nos membres dans leur voyage vers un bien-être total. Nos cours de yoga, dirigés par des instructeurs expérimentés, offrent une variété de styles adaptés à tous les niveaux de pratique. De la méditation guidée à la relaxation profonde, nos sessions de méditation sont conçues pour calmer l'esprit et favoriser la clarté mentale. Et nos traitements de spa, allant des massages thérapeutiques aux soins de beauté holistiques, sont conçus pour nourrir le corps et l'âme. Mais Esprit Zen est bien plus qu'un centre de bien-être ; c'est une communauté de personnes engagées à vivre pleinement et consciemment. Notre espace est un lieu de rencontre où les gens se rassemblent pour partager leurs expériences, leurs défis et leurs triomphes. C'est un lieu où les liens se tissent, les amitiés naissent et les esprits s'élèvent. En résumé, Esprit Zen est une entreprise développée avec une grande importance accordée à la santé mentale. C'est un lieu où chacun est invité à se connecter avec son moi intérieur, à trouver la paix intérieure et à vivre pleinement dans le moment présent. C'est un phare de lumière dans l'océan parfois tumultueux de la vie moderne, offrant un havre de paix et d'inspiration pour tous ceux qui ont soif de santé mentale et de bonheur intérieur.</p>
        </section>

    </main>