<main class="planning">
        <h1>Planning</h1>

        <table>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">9h - 12h</th>
                <th scope="col">14h - 19h</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LUNDI</th>
                <td>YOGA</td>
                <td>YOGA + SPA</td>
              </tr>
              <tr>
                <th scope="row">MARDI</th>
                <td>YOGA</td>
                <td>YOGA + SPA</td>
              </tr>
              <tr>
                <th scope="row">MERCREDI</th>
                <td></td>
                <td>YOGA</td>
              </tr>
              <tr>
                <th scope="row">JEUDI</th>
                <td>YOGA</td>
                <td>YOGA + SPA</td>
              </tr>
              <tr>
                <th scope="row">VENDREDI</th>
                <td>YOGA + SPA</td>
                <td>YOGA + SPA</td>
              </tr>
            </tbody>
          </table>
          
    </main>